1. Let us say your expense for every month are listed below,

January - 2200

February - 2350

March - 2600

April - 2130

May - 2190

Create a list to store these monthly expenses and using that find out,


1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [10]:
expense = [2200,2350,2600,2130,2190]

In [11]:
expense_feb_extra = expense[1]-expense[0]
print(expense_feb_extra)

150

In [12]:
first_quater = expense[0]+expense[1]+expense[2]
print(first_quater)

7150

In [13]:
2000 in expense

False

In [14]:
expense.append(1980)
print(expense)

[2200, 2350, 2600, 2130, 2190, 1980]

In [15]:
expense[3] = expense[3]-200
expense

[2200, 2350, 2600, 1930, 2190, 1980]

2. You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [35]:
heros=['spider man','thor','hulk','iron man','captain america']
len(heros)

5

In [36]:
heros.append("black panther")
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [37]:
heros.remove("black panther")
heros
heros.insert(3, "black panther")
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [38]:
heros[1:3] = ['doctor strange']
print(heros)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [39]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [40]:
n = int(input("Enter a number: "))
li = []
for i in range(1,n):
    if(i%2!=0):
        li.append(i)

print(li)

Enter a number:  50

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]